* {
  font-family: 'Raleway', sans-serif !important;
}
.App {
  text-align: center;
  margin-bottom: 10%;
}
.requestbr {
  margin-bottom: 5%;
}
.subtitle {
  margin-top: 20%;
}
img {
  width: 170px;
}
.buttonicons, .buttonicons2 {
  border: none;
  width: 100%;
  text-align: left;
  font-size: 20px;
}
.buttonicons2 {
  margin-top: 18%
}
.likeicon {
  border: none;
  font-size: 25px;
  padding-left: 2%;
  padding-right: 2%;
}

.deleteicon {
  border: none;
  font-size: 18px;
  float: right;
  padding-left: 2%;
  padding-right: 2%;
  height: 24px;
  padding-top: 0;
  padding-bottom: 0;
  transform: translateY(-29%);
  font-weight: bold;
}

.comment {
  width: 95%;
  text-align: left;
  margin-bottom: 1%;
}
.commentcontainer {
  height: 110px;
  overflow: auto;
  border: .5px solid rgb(202, 202, 202);
  padding: 1% 1% 1% 2%;
}
.submission {
  font-size: 25px;
  border: none;
  font-weight: bold;
}
.submenu {
  margin-top: 2%;
  border-bottom: 1px solid rgb(0, 92, 179);
  border-top: .5px solid rgb(0, 92, 179);
  margin-bottom: 3%
}
.icons {
  font-size: 35px;
  color: #010740;
  margin: 3% 10%;
}
.commentname {
  font-weight: 650;
}
.comment-form {
  border: 1px solid lightgray;
  height: 32px;
  border-top: none;
}
.commenttext:focus, .commentsubmit:focus, .likeicon:focus, .deleteicon:focus {
  outline: none;
}
.commenttext {
  width: 80%;
  height: 30px;
  float: left;
  border: none;
}
.commentsubmit {
  padding: 1px;
  border: none;
}
.loginbtn{
  border-radius: 0;
  width: 70px;
}
.profilecontainer {
  margin-bottom: 21%;
}
.cardimg {
  height: 300px;
}
.img-fluid {
  height: 260px;
}
.Ctitle {
  font-family: 'Poppins', sans-serif !important;
}
.map {
  margin-top: 5%;
}

@media only screen and (max-width: 1920px) {
  .subtitle {
    margin-top: 8%;
  }
  .map {
    margin-top: 3%;
  }
  .buttonicons2 {
    margin-top: 5%
  }
  .profileimg {
    width: 250px;
    height: 250px;
    margin-top: 136px;
  }
  .icons {
    font-size: 55px;
  }
  .headericon, .buttonicons, .buttonicons2 {
    font-size: 35px !important;
  }
  .container1 {
    margin-top: 6%;
  }
  .selectedbr{
    margin: auto
  }
  .braroundrestroom {
    margin-top: 37%;
  }
  .login {
    display: block;
    width: 144px;
    height: 53px;
    margin: auto;
    margin-top: 2%;
    font-size: 20px;
  }
}
@media only screen and (max-width: 1472px) {
  .profileimg {
    width: 200px;
    height: 200px;
  }
  .username, .icons {
    font-size: 45px !important;
  }
}
@media only screen and (max-width: 1024px) {
  #br {
    margin-top: 9%;
  }
  .username, .icons {
    font-size: 35px !important;
  }
  .profileimg {
    width: 180px;
    height: 180px;
  }
  .picture {
    font-size: 20px;
  }
  .headericon, .buttonicons, .buttonicons2 {
    font-size: 30px !important;
  }
  .login {
    width: 140px;
    height: 45px;
  }
}
@media screen and (max-width: 1024px) , screen and (max-height: 1366px) {
  .logo {
    width: 60% !important;
  }
  .subtitle {
    margin-top: 10% !important;
  }
  /* #br {
    margin-top: 43%;
  } */
  .buttonicons2, .buttonicons {
    margin-top: 12% !important;
  }
  .buttonicons {
    margin-top: 10% !important;
  }
}
@media only screen and (max-width: 480px) {
  .loginlogo {
    width: 65vw
  }
  .login {
    width: 134px;
    height: 36px;
  }
  .logo {
    width: 85% !important;
  }
  .subtitle {
    margin-top: 16% !important;
  }
  #br {
    margin-top: 70% !important;
  } 
  .braroundrestroom {
    margin-bottom: 22% !important;
  }
  .locationicon {
    padding: 0 0 0 80%;
  }
  .profileimg {
    width: 130px;
    height: 130px;
    margin-top: 95px
  }
  .profileinfo {
    padding: 0;
  }
  .username {
    font-size: 29px !important;
  }
  .col-7 {
    padding: 0 !important;
  }
  .buttonicons2, .buttonicons {
    font-size: 25px !important;
  }
  .selectedbr, .addedbr{
    margin-bottom: 30% !important;
  }
}
@media only screen and (max-width: 415px) {
  .profileimg {
    width: 115px;
    height: 115px;
    margin-top: 70px
  }
  .username {
    margin-top: 155px;
  }
}
@media only screen and (max-width: 376px) {
  .profileimg {
    width: 100px;
    height: 100px;
    margin-top: 55px;
  }
  .picture {
    font-size: 18px;
  }
  .username {
    font-size: 23px !important;
    margin-top: 139px;
  }
  .icons {
    font-size: 32px !important;
  }
  .buttonicons2, .buttonicons {
    font-size: 20px !important;
  }
  #br {
    margin-top: 95% !important;
  }
  .locationicon {
    padding: 0px 0 0 75%;
  }
  .logo {
    width: 100% !important;
  }
}
